<!DOCTYPE html>
<html>
  <head>
    <title>Express Dev Skills</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
    <h3><%= skill.skill %></h3>
    <p> Info: <%= skill.info %></p>
    <a href="/">Home Page</a> || 
      <a href="/skills">Skills</a> || 
      <a href="/skills/<%= skill.skill %>/edit">Edit Skill</a>
  </body>
</html>
  